body, html {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    padding: 0px;
    font: 400 18px / 1.77778 Roboto, 'Open Sans', Segoe UI,system-ui,-apple-system,sans-serif !important;
    /* font-family: Roboto !important; */
    font-size: 1.08em !important;
    font-weight: 400 !important;
    user-select: none;
}

